@import '../../../var'
:host
    text-align: center

.details
    p
        margin: 0.5rem 0

.info
    *
        color: $black
    .types
        height: 5vh
        *
            margin: 10px
            padding: 3px
            width: 15vw 
            min-width: 100px
            display: inline-block
            border-radius: 15px
            font-weight: 300
            color: white 
            background-color: $black
    .measures
        margin: 2rem
        *
            font-size: 1.5rem
        div
            width: 150px
            padding: 10px
            display: inline-block
        .height
            border-right: 1px solid
.pkmImg
    margin-top: -5rem
    img
        display: inline
        min-width: 200px
        width: 25vw
        background: $black
    .ctrlImg
        button
            margin: 3px
            width: 32px
            height: 32px
            color: white
            border-radius: 50%
            border: 2px solid 
            &:hover
                background: #2e2e2ec0

.stats
    margin: 2vh 5vw
    width: 90vw
    table
        margin: 15px auto
        th
            min-width: 69px
            height: 50px
            padding: 4px
            text-align: left
            border-bottom: 1px groove
    .bar
        width: calc( 85vw - 138px )
        height: 10px
        background: $black
        margin: auto
        border-radius: 5px
        div
            border-radius: 5px
            height: 10px
            background: $red
            display: block

.evo
    min-height: 50vh
    background: $black
    padding: 1.5rem
    width: 80vw
    margin: 10vh auto
    h2
        color: white
        margin: 1rem
button
    width: 2.5rem
    height: 97px
    border: none
    background: $black
.next
    right: 0
    top: 55%
    position: fixed
    img
        margin: 0 -23px
        transform: rotate(-90deg)
.prev
    left: 0
    top: 55%
    position: fixed
    img
        margin: 0 -23px
        transform: rotate(90deg)

@media screen and (min-width: 980px)
    .stats
        width: 70vw
        margin: 2.5vh 15vw
        .bar
            width: calc( 65vw - 138px )