<div class="details" *ngIf="isSuccess | async; else error">
    <div class="intro" *ngIf="pkm; else loading">
        <h2>#{{ pkm.id }}</h2>
        <h1>{{ pkm.name }}</h1>
    </div>

    <div class="info" *ngIf="info; else loading">
        <div class="pkmImg">
            <div class="ctrlImg">
                <button (click)="shiny(img_src)"><img src="assets/shiny.svg" alt="S"></button>
                <button (click)="pos(img_src)" ><img src="assets/pos.svg" alt="P"></button>
                <button *ngIf="pkm.sprites.front_default_female" (click)="gen(img_src)"><img src="assets/gen.svg" alt="G"></button>
            </div>
            <img class="displayImg" [src]="img_src">
        </div>
        <div class="types">
            <p *ngFor="let type of pkm.types">{{type}}</p>
        </div>
        <section class="measures">
            <div class="height">
                <h4>{{ info.height/10 }}m</h4>
                <p>HEIGHT</p>
            </div>
            <div class="weight">
                <h4>{{ info.weight/10 }}kg</h4>
                <p>WEIGHT</p>
            </div>
        </section>

        <h3 class="genus">{{ info.genus }}</h3>
        <p>{{ info.flavorText }}</p>
        <p><b>Generation: </b>{{ info.generation }}</p>

        <div class="stats">
            <h3>Stats</h3>
            <table>
                <tr>
                    <th>HP</th>
                    <th>{{ info.hp }}</th>
                    <th><div class="bar"><div [style.width.%]="calc_width(info.hp)"></div></div></th>
                </tr>
                <tr>
                    <th>Speed</th>
                    <th>{{ info.speed }}</th>
                    <th><div class="bar"><div [style.width.%]="calc_width(info.speed)"></div></div></th>
                </tr>
                <tr>
                    <th>Attack</th>
                    <th>{{ info.attack }}</th>
                    <th><div class="bar"><div [style.width.%]="calc_width(info.attack)"></div></div></th>
                </tr>
                <tr>
                    <th>Defense</th>
                    <th>{{ info.defense }}</th>
                    <th><div class="bar"><div [style.width.%]="calc_width(info.defense)"></div></div></th>
                </tr>
                <tr>
                    <th>Special Attack</th>
                    <th>{{ info.special_attack }}</th>
                    <th><div class="bar"><div [style.width.%]="calc_width(info.special_attack)"></div></div></th>
                </tr>
                <tr>
                    <th>Special Defense</th>
                    <th>{{ info.special_defense }}</th>
                    <th><div class="bar"><div [style.width.%]="calc_width(info.special_defense)"></div></div></th>
                </tr>
            </table>
        </div>
    </div>

    <div class="evo" *ngIf="evoload; else loading">
        <h2>Evolution chain</h2>
        <app-evo [chain]="chain"></app-evo>
    </div>
    <button class="next" (click)="next(id)"> <img src="assets/arrow.svg"> </button>
    <button class="prev" (click)="prev(--id)" *ngIf="id != 1"> <img src="assets/arrow.svg"> </button>
</div>



<ng-template #loading><app-loading></app-loading></ng-template>

<ng-template #error>
    <div class="details">
        <app-error404></app-error404>
    </div>
</ng-template>